@model BoardGamesShopMVC.Application.ViewModels.Publisher.NewPublisherVm

@{
    ViewData["Title"] = "EditPublisher";
}

<form asp-action="EditPublisher">
    <div class="border p-3 mt-3">
        <div class="row">
            <h2>Edit publisher</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success" style="width:150px">Save</button>
        <a asp-controller="Publisher" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
