@model BoardGamesShopMVC.Application.ViewModels.ShopUser.ShopUserWithAddressVm
<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="PhoneNumber" class="form-control" />
                <label asp-for="PhoneNumber" class="form-label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" />
                <label asp-for="FirstName" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" />
                <label asp-for="LastName" class="form-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Address.City" class="form-control" />
                <label asp-for="Address.City" class="form-label"></label>
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>          <div class="form-floating">
                <input asp-for="Address.ZipCode" class="form-control" />
                <label asp-for="Address.ZipCode" class="form-label"></label>
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Address.Street" class="form-control" />
                <label asp-for="Address.Street" class="form-label"></label>
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Address.BuildingNumber" class="form-control" />
                <label asp-for="Address.BuildingNumber" class="form-label"></label>
                <span asp-validation-for="Address.BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Address.FlatNumber" class="form-control" />
                <label asp-for="Address.FlatNumber" class="form-label"></label>
                <span asp-validation-for="Address.FlatNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>