@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-warning text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
            <img src="~/images/website/20943863.jpg" width="35%" />
    </div>
    <div class="col-12 text-center text-black">
        <a style="font-size: 7px" href="http://www.freepik.com">Designed by vectorjuice / Freepik</a>
    </div>
</div>