html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}
.header-color {
    background-color: #e3f2fd;
}